<%- include("particles/header") -%>


<body>
    <div class="about-us">
        <h1>About Us</h1>
        <p> 
            This demo website is created by <a href="https://gyrao72.github.io/profile.github.io/my.html" target="_blank">Gajendar Yadav</a>
        </p>
    </div>

</body>






<%- include("particles/footer") -%>