<%- include("particles/header") -%>

        <div class="title">
            <h1>WELCOME TO MY-BLOGS</h1>
            <h3>Are you excited for amazing stuffs!</h3>
        </div>
    </header>

    <%- include("particles/footer") -%>

</body>






